body
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif

	h1, h2, h3, h4, h5, h6
		font-weight: bolder

	#loader
		display: block
		overflow: auto
  		margin: auto
  		position: absolute
  		top: 0
  		left: 0
  		bottom: 0
  		right: 0

	.inicio,
	.estudio,
	.galeria,
	.contato
		position: relative
		z-index: 2

	.full-container
		width: 100%

		> .container
			max-width: 1000px
			margin: 0 auto

			> .content
				display: block
				width: calc(100% - 40px)
				padding: 20px